body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    align-content: center;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: space-evenly;
}

button {
    height: 100px;
    width: 150px;
    border-radius: 5%;
}

.Text {
    display: flex;
    height: 250px;
    width: 420px;
    align-items: center;
    justify-content: space-evenly;
}

.counter {
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    align-items: center;
}

.name {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.number {
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}