body {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: space-evenly;
}

button {
    height: 100px;
    width: 150px;
    border-radius: 5%;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
    transition: all .07s ease; /* transicion BOTONES*/  
}

.effectButton {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 1rem white;
}

.effect {
    transform: scale(1.1);
    background-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}


.Text {
    display: flex;
    height: 250px;
    width: 420px;
    align-items: center;
    justify-content: space-evenly;
}

.counter {
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    align-items: center;
    transition: all .07s ease; /* transicion WINNER*/  
}

.name {
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.number {
    color: aliceblue;
    font-size: 50px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.election {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.left, .right{
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: dark;
    width: 302.5px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
    width: 200px;
}

.title {
    text-align: center;
    border: 1px solid;
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    margin-bottom: 50px;
}
